/*   ---   COLORS   ---   */

/*   ---   BASIC COLORS   ---   */

@primary: #AABBFF;
@confirm: #427FB4;
@cancel: #FD3366;
@alert: #992233;
@selected: #FAAF0F;
@light-gray: #E3E4E6;
@gray: #60606A;
@soft-gray: #cccccc;
@dark-gray: #3A3C45;
@off-light: #EDEDF1;
@darkest: #222225;
@white: #ffffff;
@black: #000000;

/*   ---   TRANSPARENCY COLORS (COLOR-TRANPARENCY)   ---   */

@primary-15: rgba(170, 187, 255, 0.15); 
@confirm-15: rgba(66, 127, 180, 0.15);
@cancel-15: rgba(253, 51, 102, 0.15);
@alert-15: rgba(153, 34, 51, 0.15);
@selected-15: rgba(250, 175, 15, 0.15);
@light-gray-15: rgba(227, 228, 230, 0.15);
@gray-15: rgba(96, 96, 106, 0.15);
@soft-gray-15: rgba(204, 204, 204, 0.15);
@dark-gray-15: rgba(58, 60, 69, 0.15);
@off-light-15: rgba(237, 237, 241, 0.15);
@darkest-15: rgba(34, 34, 37, 0.15);
@white-15: rgba(255, 255, 255, 0.15);
@black-15: rgba(0, 0, 0, 0.15);

@primary-35: rgba(170, 187, 255, 0.35); 
@confirm-35: rgba(66, 127, 180, 0.35);
@cancel-35: rgba(253, 51, 102, 0.35);
@alert-35: rgba(153, 34, 51, 0.35);
@selected-35: rgba(250, 175, 15, 0.35);
@light-gray-35: rgba(227, 228, 230, 0.35);
@gray-35: rgba(96, 96, 106, 0.35);
@soft-gray-35: rgba(204, 204, 204, 0.35);
@dark-gray-35: rgba(58, 60, 69, 0.35);
@off-light-35: rgba(237, 237, 241, 0.35);
@darkest-35: rgba(34, 34, 37, 0.35);
@white-35: rgba(255, 255, 255, 0.35);
@black-35: rgba(0, 0, 0, 0.35);

@primary-50: rgba(170, 187, 255, 0.50); 
@confirm-50: rgba(66, 127, 180, 0.50);
@cancel-50: rgba(253, 51, 102, 0.50);
@alert-50: rgba(153, 34, 51, 0.50);
@selected-50: rgba(250, 175, 15, 0.50);
@light-gray-50: rgba(227, 228, 230, 0.50);
@gray-50: rgba(96, 96, 106, 0.50);
@soft-gray-50: rgba(204, 204, 204, 0.50);
@dark-gray-50: rgba(58, 60, 69, 0.50);
@off-light-50: rgba(237, 237, 241, 0.50);
@darkest-50: rgba(34, 34, 37, 0.50);
@white-50: rgba(255, 255, 255, 0.50);
@black-50: rgba(0, 0, 0, 0.50);

@primary-65: rgba(170, 187, 255, 0.65); 
@confirm-65: rgba(66, 127, 180, 0.65);
@cancel-65: rgba(253, 51, 102, 0.65);
@alert-65: rgba(153, 34, 51, 0.65);
@selected-65: rgba(250, 175, 15, 0.65);
@light-gray-65: rgba(227, 228, 230, 0.65);
@gray-65: rgba(96, 96, 106, 0.65);
@soft-gray-65: rgba(204, 204, 204, 0.65);
@dark-gray-65: rgba(58, 60, 69, 0.65);
@off-light-65: rgba(237, 237, 241, 0.65);
@darkest-65: rgba(34, 34, 37, 0.65);
@white-65: rgba(255, 255, 255, 0.65);
@black-65: rgba(0, 0, 0, 0.65);

@primary-85: rgba(170, 187, 255, 0.85); 
@confirm-85: rgba(66, 127, 180, 0.85);
@cancel-85: rgba(253, 51, 102, 0.85);
@alert-85: rgba(153, 34, 51, 0.85);
@selected-85: rgba(250, 175, 15, 0.85);
@light-gray-85: rgba(227, 228, 230, 0.85);
@gray-85: rgba(96, 96, 106, 0.85);
@soft-gray-85: rgba(204, 204, 204, 0.85);
@dark-gray-85: rgba(58, 60, 69, 0.85);
@off-light-85: rgba(237, 237, 241, 0.85);
@darkest-85: rgba(34, 34, 37, 0.85);
@white-85: rgba(255, 255, 255, 0.85);
@black-85: rgba(0, 0, 0, 0.85);


/*   ---   BASIC CLASS COLORS   ---   */

.primary { color: @primary; }
.confirm { color: @confirm; }
.cancel { color: @cancel; }
.alert { color: @alert; }
.selected { color: @selected; }
.light-gray { color: @light-gray; }
.gray { color: @gray; }
.dark-gray { color: @dark-gray; }
.off-light { color: @off-light; }
.darkest { color: @darkest; }
.white{ color: @white; }
.black{ color: @black; }

/*   ---   TRANSPARENCY CLASS COLORS   ---   */

.primary-15 { color: @primary-15; }
.confirm-15 { color: @confirm-15; }
.cancel-15 { color: @cancel-15; }
.alert-15 { color: @alert-15; }
.selected-15 { color: @selected-15; }
.light-gray-15 { color: @light-gray-15; }
.gray-15 { color: @gray-15; }
.soft-gray-15{ color : @soft-gray-15; }
.dark-gray-15 { color: @dark-gray-15; }
.off-light-15 { color: @off-light-15; }
.darkest-15 { color: @darkest-15; }
.white-15{ color: @white-15; }
.black-15{ color: @black-15; }

.primary-35 { color: @primary-35; }
.confirm-35 { color: @confirm-35; }
.cancel-35 { color: @cancel-35; }
.alert-35 { color: @alert-35; }
.selected-35 { color: @selected-35; }
.light-gray-35 { color: @light-gray-35; }
.gray-35 { color: @gray-35; }
.soft-gray-35{ color : @soft-gray-35; }
.dark-gray-35 { color: @dark-gray-35; }
.off-light-35 { color: @off-light-35; }
.darkest-35 { color: @darkest-35; }
.white-35{ color: @white-35; }
.black-35{ color: @black-35; }

.primary-50 { color:@primary-50; }
.confirm-50 { color: @confirm-50; }
.cancel-50 { color: @cancel-50; }
.alert-50 { color: @alert-50; }
.selected-50 { color: @selected-50; }
.light-gray-50 { color: @light-gray-50; }
.gray-50 { color: @gray-50; }
.soft-gray-50{ color : @soft-gray-50; }
.dark-gray-50 { color: @dark-gray-50; }
.off-light-50 { color: @off-light-50; }
.darkest-50 { color: @darkest-50; }
.white-50{ color: @white-50; }
.black-50{ color: @black-50; }

.primary-65 { color:@primary-65; }
.confirm-65 { color: @confirm-65; }
.cancel-65 { color: @cancel-65; }
.alert-65 { color: @alert-65; }
.selected-65 { color: @selected-65; }
.light-gray-65 { color: @light-gray-65; }
.gray-65 { color: @gray-65; }
.soft-gray-65{ color : @soft-gray-65; }
.dark-gray-65 { color: @dark-gray-65; }
.off-light-65 { color: @off-light-65; }
.darkest-65 { color: @darkest-65; }
.white-65{ color: @white-65; }
.black-65{ color: @black-65; }

.primary-85 { color:@primary-85; }
.confirm-85 { color: @confirm-85; }
.cancel-85 { color: @cancel-85; }
.alert-85 { color: @alert-85; }
.selected-85 { color: @selected-85; }
.light-gray-85 { color: @light-gray-85; }
.gray-85 { color: @gray-85; }
.soft-gray-85{ color : @soft-gray-85; }
.dark-gray-85 { color: @dark-gray-85; }
.off-light-85 { color: @off-light-85; }
.darkest-85 { color: @darkest-85; }
.white-85{ color: @white-85; }
.black-85{ color: @black-85; }

/*   ---   BASIC BACKGROUND COLORS   ---   */
.bg-primary { background-color: @primary;  color: @darkest; }
.bg-confirm { background-color: @confirm;  color: @white; }
.bg-cancel { background-color: @cancel;  color: @white; }
.bg-alert { background-color: @alert;  color: @white; }
.bg-selected { background-color: @selected;  color: @white; }
.bg-light-gray { background-color: @light-gray;  color: @black; }
.bg-gray { background-color: @gray;   color: @white; }
.bg-dark-gray { background-color: @dark-gray;  color: @white; }
.bg-off-light { background-color: @off-light;  color: @darkest; }
.bg-darkest { background-color: @darkest;  color: @white; }
.bg-white { background-color: @white;  color: @darkest; }
.bg-black { background-color: @black;  color: @off-light; }

/*   ---   TRANSPARENCY BACKGROUND COLORS   ---   */
.bg-primary-15 { background-color: @primary-15; color: @darkest; }
.bg-confirm-15 { background-color: @confirm-15; color: @white; }
.bg-cancel-15 { background-color: @cancel-15; color: @white; }
.bg-alert-15 { background-color: @alert-15; color: @white; }
.bg-selected-15 { background-color: @selected-15; color: @white; }
.bg-light-gray-15 { background-color: @light-gray-15; color: @black; }
.bg-gray-15 { background-color: @gray-15; color: @white; }
.bg-soft-gray-15 { background-color: @soft-gray-15; color: @white; }
.bg-dark-gray-15 { background-color: @dark-gray-15; color: @white; }
.bg-off-light-15 { background-color: @off-light-15; color: @darkest; }
.bg-darkest-15 { background-color: @darkest-15; color: @white; }
.bg-white-15 {	background-color: @white-15; color: @darkest; }
.bg-black-15 { background-color: @black-15; color: @off-light; }

.bg-primary-35 { background-color: @primary-35; color: @darkest; }
.bg-confirm-35 { background-color: @confirm-35; color: @white; }
.bg-cancel-35 { background-color: @cancel-35; color: @white; }
.bg-alert-35 { background-color: @alert-35; color: @white; }
.bg-selected-35 { background-color: @selected-35; color: @white; }
.bg-light-gray-35 { background-color: @light-gray-35; color: @black; }
.bg-gray-35 { background-color: @gray-35; color: @white; }
.bg-soft-gray-35 { background-color: @soft-gray-35; color: @white; }
.bg-dark-gray-35 { background-color: @dark-gray-35; color: @white; }
.bg-off-light-35 { background-color: @off-light-35; color: @darkest; }
.bg-darkest-35 { background-color: @darkest-35; color: @white; }
.bg-white-35 {	background-color: @white-35; color: @darkest; }
.bg-black-35 { background-color: @black-35; color: @off-light; }

.bg-primary-50 { background-color: @primary-50; color: @darkest; }
.bg-confirm-50 { background-color: @confirm-50; color: @white; }
.bg-cancel-50 { background-color: @cancel-50; color: @white; }
.bg-alert-50 { background-color: @alert-50; color: @white; }
.bg-selected-50 { background-color: @selected-50; color: @white; }
.bg-light-gray-50 { background-color: @light-gray-50; color: @black; }
.bg-gray-50 { background-color: @gray-50; color: @white; }
.bg-soft-gray-50 { background-color: @soft-gray-50; color: @white; }
.bg-dark-gray-50 { background-color: @dark-gray-50; color: @white; }
.bg-off-light-50 { background-color: @off-light-50; color: @darkest; }
.bg-darkest-50 { background-color: @darkest-50; color: @white; }
.bg-white-50 {	background-color: @white-50; color: @darkest; }
.bg-black-50 { background-color: @black-50; color: @off-light; }

.bg-primary-65 { background-color: @primary-65; color: @darkest; }
.bg-confirm-65 { background-color: @confirm-65; color: @white; }
.bg-cancel-65 { background-color: @cancel-65; color: @white; }
.bg-alert-65 { background-color: @alert-65; color: @white; }
.bg-selected-65 { background-color: @selected-65; color: @white; }
.bg-light-gray-65 { background-color: @light-gray-65; color: @black; }
.bg-gray-65 { background-color: @gray-65; color: @white; }
.bg-soft-gray-65 { background-color: @soft-gray-65; color: @white; }
.bg-dark-gray-65 { background-color: @dark-gray-65; color: @white; }
.bg-off-light-65 { background-color: @off-light-65; color: @darkest; }
.bg-darkest-65 { background-color: @darkest-65; color: @white; }
.bg-white-65 {	background-color: @white-65; color: @darkest; }
.bg-black-65 { background-color: @black-65; color: @off-light; }

.bg-primary-85 { background-color: @primary-85; color: @darkest; }
.bg-confirm-85 { background-color: @confirm-85; color: @white; }
.bg-cancel-85 { background-color: @cancel-85; color: @white; }
.bg-alert-85 { background-color: @alert-85; color: @white; }
.bg-selected-85 { background-color: @selected-85; color: @white; }
.bg-light-gray-85 { background-color: @light-gray-85; color: @black; }
.bg-gray-85 { background-color: @gray-85; color: @white; }
.bg-soft-gray-85 { background-color: @soft-gray-85; color: @white; }
.bg-dark-gray-85 { background-color: @dark-gray-85; color: @white; }
.bg-off-light-85 { background-color: @off-light-85; color: @darkest; }
.bg-darkest-85 { background-color: @darkest-85; color: @white; }
.bg-white-85 {	background-color: @white-85; color: @darkest; }
.bg-black-85 { background-color: @black-85; color: @off-light; }

/*   ---   GRADIENT / COMPLEX SPECIFCS COLORS   ---   */

@gradient-gray-list: @gray-65 0%, @soft-gray-65 35%, @white-65 50%, @soft-gray-65 65%, @gray-65 100%;

.bg-to-rgba(@color,@opacity:1) {
  	@result: rgba( red(@color), green(@color), blue(@color), @opacity );
	background-color: @result;
}

.color-to-rgba(@color,@opacity:1) {
  	@result: rgba( red(@color), green(@color), blue(@color), @opacity );
	color: @result;
}

.to-rgba(@color, @opacity){
	@result: rgba( red(@color), green(@color), blue(@color), @opacity );
}