@font-face { font-family: 'SAOUI-Regular'; src: url("fonts/SAOUI-Regular.otf") format("OpenType"); }

@font-size: 14px;
@line-height: 2;
@font1: 'SAOUI-Regular','PT Sans Narrow', sans-serif;
@font-code: 'Teko', monospace;

@pd: 7px;
@mg: 7px;
@full-size: 100%;
@col: @full-size / 6;
@zero: 0;

@import 'less/colors';
@import 'less/inputs';

*{ 
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	margin:0;
	padding: 0;
}

html{


}

body{
	position: relative;
	font-size: @font-size * 1.5;
	line-height: @line-height *1.25;
	font-family: @font1;
	outline:none;
}
div{ 
	display: block;
}

p{ padding: @pd }

h1{
	font-family: @font-code;
	font-size: @font-size * 3;
}

.container{
	min-width:960px; 
	max-width: 960px; 
	margin:0 auto;
	padding: 15px;
}
.row{ 
	width: inherit; 
	display: block; 
	min-height:1px;
	overflow:hidden;
	margin: 0 -15px;
	padding: @pd 15px;
}

.group{
	display:block;
	width:100%;
}

.border{
	border: 1px solid @gray;
}

.col{ 
	position: relative;
	float: left; 
	display: block; 
	min-height: 1px;
	padding-right: @pd;
	padding-left: @pd;
}
.col-1{ width: @col; .col;}
.col-2{ width: @col*2; .col;}
.col-3{ width: @col*3; .col;}
.col-4{ width: @col*4; .col;}
.col-5{ width: @col*5; .col;}
.col-6{ width: @col*6; .col;}
.col-1:last-child{ width: @col - ;}
.pull-right{ float:right; text-align: right;}

.message {
	max-width: 100%;
	background: -moz-linear-gradient(top, @soft-gray 0%, @light-gray 25%, @white 50%, @light-gray 80%, @soft-gray 100%);
	background: -webkit-linear-gradient(top, @soft-gray 0%, @light-gray 25%, @white 50%, @light-gray 80%, @soft-gray 100%);
	background: linear-gradient(to bottom, @soft-gray 0%, @light-gray 25%, @white 50%, @light-gray 80%, @soft-gray 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@light-gray', endColorstr='@light-gray', GradientType=0);
}

.message span{
	display: block;
	font-size: 54px;
	text-align: center;
}

.menu-group{
	position:relative;
	width: @full-size;
}
ul{
	position: relative;
	width: @full-size / 3;
}
.sub-menu {
	position: absolute;
	width: @full-size * 3;
	left: @full-size;
	top: 0;
	display:none;
}
ul li {
	display: block;
	list-style: none;
	background-color: aquamarine;
	position: relative;
	margin: 0 0 @mg 0;
	padding: @pd;
}

li:hover + .sub-menu{
	display:block;
}
.sub-menu:hover{
	display:block;	
}

.active + .sub-menu{
	display:block;
}





