@font-face {
  font-family: 'SAOUI-Regular';
  src: url("fonts/SAOUI-Regular.otf") format("OpenType");
}
/*   ---   NORMALIZE   ---   */
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  position: relative;
  outline: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
div {
  display: block;
}
*:after,
*:before {
  webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/*   ---   GRID   ---   */
.col {
  position: relative;
  float: left;
  display: block;
  min-height: 1px;
  padding-right: 4px;
  padding-left: 4px;
}
.col-1 {
  width: 155px;
  position: relative;
  float: left;
  display: block;
  min-height: 1px;
  padding-right: 4px;
  padding-left: 4px;
}
.col-2 {
  width: 310px;
  position: relative;
  float: left;
  display: block;
  min-height: 1px;
  padding-right: 4px;
  padding-left: 4px;
}
.col-3 {
  width: 465px;
  position: relative;
  float: left;
  display: block;
  min-height: 1px;
  padding-right: 4px;
  padding-left: 4px;
}
.col-4 {
  width: 620px;
  position: relative;
  float: left;
  display: block;
  min-height: 1px;
  padding-right: 4px;
  padding-left: 4px;
}
.col-5 {
  width: 775px;
  position: relative;
  float: left;
  display: block;
  min-height: 1px;
  padding-right: 4px;
  padding-left: 4px;
}
.col-6 {
  width: 930px;
  position: relative;
  float: left;
  display: block;
  min-height: 1px;
  padding-right: 4px;
  padding-left: 4px;
}
.offset-1 {
  margin-left: 155px;
}
.offset-2 {
  margin-left: 310px;
}
.offset-3 {
  margin-left: 465px;
}
.offset-4 {
  margin-left: 620px;
}
.offset-5 {
  margin-left: 775px;
}
.offset-6 {
  margin-left: 930px;
}
/*   ---   COLORS   ---   */
/*   ---   BASIC COLORS   ---   */
/*   ---   TRANSPARENCY COLORS (COLOR-TRANPARENCY)   ---   */
/*   ---   BASIC CLASS COLORS   ---   */
.primary {
  color: #AABBFF;
}
.confirm {
  color: #427FB4;
}
.cancel {
  color: #FD3366;
}
.alert {
  color: #992233;
}
.selected {
  color: #FAAF0F;
}
.light-gray {
  color: #E3E4E6;
}
.gray {
  color: #60606A;
}
.dark-gray {
  color: #3A3C45;
}
.off-light {
  color: #EDEDF1;
}
.darkest {
  color: #222225;
}
.white {
  color: #ffffff;
}
.black {
  color: #000000;
}
/*   ---   TRANSPARENCY CLASS COLORS   ---   */
.primary-15 {
  color: rgba(170, 187, 255, 0.15);
}
.confirm-15 {
  color: rgba(66, 127, 180, 0.15);
}
.cancel-15 {
  color: rgba(253, 51, 102, 0.15);
}
.alert-15 {
  color: rgba(153, 34, 51, 0.15);
}
.selected-15 {
  color: rgba(250, 175, 15, 0.15);
}
.light-gray-15 {
  color: rgba(227, 228, 230, 0.15);
}
.gray-15 {
  color: rgba(96, 96, 106, 0.15);
}
.soft-gray-15 {
  color: rgba(204, 204, 204, 0.15);
}
.dark-gray-15 {
  color: rgba(58, 60, 69, 0.15);
}
.off-light-15 {
  color: rgba(237, 237, 241, 0.15);
}
.darkest-15 {
  color: rgba(34, 34, 37, 0.15);
}
.white-15 {
  color: rgba(255, 255, 255, 0.15);
}
.black-15 {
  color: rgba(0, 0, 0, 0.15);
}
.primary-35 {
  color: rgba(170, 187, 255, 0.35);
}
.confirm-35 {
  color: rgba(66, 127, 180, 0.35);
}
.cancel-35 {
  color: rgba(253, 51, 102, 0.35);
}
.alert-35 {
  color: rgba(153, 34, 51, 0.35);
}
.selected-35 {
  color: rgba(250, 175, 15, 0.35);
}
.light-gray-35 {
  color: rgba(227, 228, 230, 0.35);
}
.gray-35 {
  color: rgba(96, 96, 106, 0.35);
}
.soft-gray-35 {
  color: rgba(204, 204, 204, 0.35);
}
.dark-gray-35 {
  color: rgba(58, 60, 69, 0.35);
}
.off-light-35 {
  color: rgba(237, 237, 241, 0.35);
}
.darkest-35 {
  color: rgba(34, 34, 37, 0.35);
}
.white-35 {
  color: rgba(255, 255, 255, 0.35);
}
.black-35 {
  color: rgba(0, 0, 0, 0.35);
}
.primary-50 {
  color: rgba(170, 187, 255, 0.5);
}
.confirm-50 {
  color: rgba(66, 127, 180, 0.5);
}
.cancel-50 {
  color: rgba(253, 51, 102, 0.5);
}
.alert-50 {
  color: rgba(153, 34, 51, 0.5);
}
.selected-50 {
  color: rgba(250, 175, 15, 0.5);
}
.light-gray-50 {
  color: rgba(227, 228, 230, 0.5);
}
.gray-50 {
  color: rgba(96, 96, 106, 0.5);
}
.soft-gray-50 {
  color: rgba(204, 204, 204, 0.5);
}
.dark-gray-50 {
  color: rgba(58, 60, 69, 0.5);
}
.off-light-50 {
  color: rgba(237, 237, 241, 0.5);
}
.darkest-50 {
  color: rgba(34, 34, 37, 0.5);
}
.white-50 {
  color: rgba(255, 255, 255, 0.5);
}
.black-50 {
  color: rgba(0, 0, 0, 0.5);
}
.primary-65 {
  color: rgba(170, 187, 255, 0.65);
}
.confirm-65 {
  color: rgba(66, 127, 180, 0.65);
}
.cancel-65 {
  color: rgba(253, 51, 102, 0.65);
}
.alert-65 {
  color: rgba(153, 34, 51, 0.65);
}
.selected-65 {
  color: rgba(250, 175, 15, 0.65);
}
.light-gray-65 {
  color: rgba(227, 228, 230, 0.65);
}
.gray-65 {
  color: rgba(96, 96, 106, 0.65);
}
.soft-gray-65 {
  color: rgba(204, 204, 204, 0.65);
}
.dark-gray-65 {
  color: rgba(58, 60, 69, 0.65);
}
.off-light-65 {
  color: rgba(237, 237, 241, 0.65);
}
.darkest-65 {
  color: rgba(34, 34, 37, 0.65);
}
.white-65 {
  color: rgba(255, 255, 255, 0.65);
}
.black-65 {
  color: rgba(0, 0, 0, 0.65);
}
.primary-85 {
  color: rgba(170, 187, 255, 0.85);
}
.confirm-85 {
  color: rgba(66, 127, 180, 0.85);
}
.cancel-85 {
  color: rgba(253, 51, 102, 0.85);
}
.alert-85 {
  color: rgba(153, 34, 51, 0.85);
}
.selected-85 {
  color: rgba(250, 175, 15, 0.85);
}
.light-gray-85 {
  color: rgba(227, 228, 230, 0.85);
}
.gray-85 {
  color: rgba(96, 96, 106, 0.85);
}
.soft-gray-85 {
  color: rgba(204, 204, 204, 0.85);
}
.dark-gray-85 {
  color: rgba(58, 60, 69, 0.85);
}
.off-light-85 {
  color: rgba(237, 237, 241, 0.85);
}
.darkest-85 {
  color: rgba(34, 34, 37, 0.85);
}
.white-85 {
  color: rgba(255, 255, 255, 0.85);
}
.black-85 {
  color: rgba(0, 0, 0, 0.85);
}
/*   ---   BASIC BACKGROUND COLORS   ---   */
.bg-primary {
  background-color: #AABBFF;
  color: #222225;
}
.bg-confirm {
  background-color: #427FB4;
  color: #ffffff;
}
.bg-cancel {
  background-color: #FD3366;
  color: #ffffff;
}
.bg-alert {
  background-color: #992233;
  color: #ffffff;
}
.bg-selected {
  background-color: #FAAF0F;
  color: #ffffff;
}
.bg-light-gray {
  background-color: #E3E4E6;
  color: #000000;
}
.bg-gray {
  background-color: #60606A;
  color: #ffffff;
}
.bg-dark-gray {
  background-color: #3A3C45;
  color: #ffffff;
}
.bg-off-light {
  background-color: #EDEDF1;
  color: #222225;
}
.bg-darkest {
  background-color: #222225;
  color: #ffffff;
}
.bg-white {
  background-color: #ffffff;
  color: #222225;
}
.bg-black {
  background-color: #000000;
  color: #EDEDF1;
}
/*   ---   TRANSPARENCY BACKGROUND COLORS   ---   */
.bg-primary-15 {
  background-color: rgba(170, 187, 255, 0.15);
  color: #222225;
}
.bg-confirm-15 {
  background-color: rgba(66, 127, 180, 0.15);
  color: #ffffff;
}
.bg-cancel-15 {
  background-color: rgba(253, 51, 102, 0.15);
  color: #ffffff;
}
.bg-alert-15 {
  background-color: rgba(153, 34, 51, 0.15);
  color: #ffffff;
}
.bg-selected-15 {
  background-color: rgba(250, 175, 15, 0.15);
  color: #ffffff;
}
.bg-light-gray-15 {
  background-color: rgba(227, 228, 230, 0.15);
  color: #000000;
}
.bg-gray-15 {
  background-color: rgba(96, 96, 106, 0.15);
  color: #ffffff;
}
.bg-soft-gray-15 {
  background-color: rgba(204, 204, 204, 0.15);
  color: #ffffff;
}
.bg-dark-gray-15 {
  background-color: rgba(58, 60, 69, 0.15);
  color: #ffffff;
}
.bg-off-light-15 {
  background-color: rgba(237, 237, 241, 0.15);
  color: #222225;
}
.bg-darkest-15 {
  background-color: rgba(34, 34, 37, 0.15);
  color: #ffffff;
}
.bg-white-15 {
  background-color: rgba(255, 255, 255, 0.15);
  color: #222225;
}
.bg-black-15 {
  background-color: rgba(0, 0, 0, 0.15);
  color: #EDEDF1;
}
.bg-primary-35 {
  background-color: rgba(170, 187, 255, 0.35);
  color: #222225;
}
.bg-confirm-35 {
  background-color: rgba(66, 127, 180, 0.35);
  color: #ffffff;
}
.bg-cancel-35 {
  background-color: rgba(253, 51, 102, 0.35);
  color: #ffffff;
}
.bg-alert-35 {
  background-color: rgba(153, 34, 51, 0.35);
  color: #ffffff;
}
.bg-selected-35 {
  background-color: rgba(250, 175, 15, 0.35);
  color: #ffffff;
}
.bg-light-gray-35 {
  background-color: rgba(227, 228, 230, 0.35);
  color: #000000;
}
.bg-gray-35 {
  background-color: rgba(96, 96, 106, 0.35);
  color: #ffffff;
}
.bg-soft-gray-35 {
  background-color: rgba(204, 204, 204, 0.35);
  color: #ffffff;
}
.bg-dark-gray-35 {
  background-color: rgba(58, 60, 69, 0.35);
  color: #ffffff;
}
.bg-off-light-35 {
  background-color: rgba(237, 237, 241, 0.35);
  color: #222225;
}
.bg-darkest-35 {
  background-color: rgba(34, 34, 37, 0.35);
  color: #ffffff;
}
.bg-white-35 {
  background-color: rgba(255, 255, 255, 0.35);
  color: #222225;
}
.bg-black-35 {
  background-color: rgba(0, 0, 0, 0.35);
  color: #EDEDF1;
}
.bg-primary-50 {
  background-color: rgba(170, 187, 255, 0.5);
  color: #222225;
}
.bg-confirm-50 {
  background-color: rgba(66, 127, 180, 0.5);
  color: #ffffff;
}
.bg-cancel-50 {
  background-color: rgba(253, 51, 102, 0.5);
  color: #ffffff;
}
.bg-alert-50 {
  background-color: rgba(153, 34, 51, 0.5);
  color: #ffffff;
}
.bg-selected-50 {
  background-color: rgba(250, 175, 15, 0.5);
  color: #ffffff;
}
.bg-light-gray-50 {
  background-color: rgba(227, 228, 230, 0.5);
  color: #000000;
}
.bg-gray-50 {
  background-color: rgba(96, 96, 106, 0.5);
  color: #ffffff;
}
.bg-soft-gray-50 {
  background-color: rgba(204, 204, 204, 0.5);
  color: #ffffff;
}
.bg-dark-gray-50 {
  background-color: rgba(58, 60, 69, 0.5);
  color: #ffffff;
}
.bg-off-light-50 {
  background-color: rgba(237, 237, 241, 0.5);
  color: #222225;
}
.bg-darkest-50 {
  background-color: rgba(34, 34, 37, 0.5);
  color: #ffffff;
}
.bg-white-50 {
  background-color: rgba(255, 255, 255, 0.5);
  color: #222225;
}
.bg-black-50 {
  background-color: rgba(0, 0, 0, 0.5);
  color: #EDEDF1;
}
.bg-primary-65 {
  background-color: rgba(170, 187, 255, 0.65);
  color: #222225;
}
.bg-confirm-65 {
  background-color: rgba(66, 127, 180, 0.65);
  color: #ffffff;
}
.bg-cancel-65 {
  background-color: rgba(253, 51, 102, 0.65);
  color: #ffffff;
}
.bg-alert-65 {
  background-color: rgba(153, 34, 51, 0.65);
  color: #ffffff;
}
.bg-selected-65 {
  background-color: rgba(250, 175, 15, 0.65);
  color: #ffffff;
}
.bg-light-gray-65 {
  background-color: rgba(227, 228, 230, 0.65);
  color: #000000;
}
.bg-gray-65 {
  background-color: rgba(96, 96, 106, 0.65);
  color: #ffffff;
}
.bg-soft-gray-65 {
  background-color: rgba(204, 204, 204, 0.65);
  color: #ffffff;
}
.bg-dark-gray-65 {
  background-color: rgba(58, 60, 69, 0.65);
  color: #ffffff;
}
.bg-off-light-65 {
  background-color: rgba(237, 237, 241, 0.65);
  color: #222225;
}
.bg-darkest-65 {
  background-color: rgba(34, 34, 37, 0.65);
  color: #ffffff;
}
.bg-white-65 {
  background-color: rgba(255, 255, 255, 0.65);
  color: #222225;
}
.bg-black-65 {
  background-color: rgba(0, 0, 0, 0.65);
  color: #EDEDF1;
}
.bg-primary-85 {
  background-color: rgba(170, 187, 255, 0.85);
  color: #222225;
}
.bg-confirm-85 {
  background-color: rgba(66, 127, 180, 0.85);
  color: #ffffff;
}
.bg-cancel-85 {
  background-color: rgba(253, 51, 102, 0.85);
  color: #ffffff;
}
.bg-alert-85 {
  background-color: rgba(153, 34, 51, 0.85);
  color: #ffffff;
}
.bg-selected-85 {
  background-color: rgba(250, 175, 15, 0.85);
  color: #ffffff;
}
.bg-light-gray-85 {
  background-color: rgba(227, 228, 230, 0.85);
  color: #000000;
}
.bg-gray-85 {
  background-color: rgba(96, 96, 106, 0.85);
  color: #ffffff;
}
.bg-soft-gray-85 {
  background-color: rgba(204, 204, 204, 0.85);
  color: #ffffff;
}
.bg-dark-gray-85 {
  background-color: rgba(58, 60, 69, 0.85);
  color: #ffffff;
}
.bg-off-light-85 {
  background-color: rgba(237, 237, 241, 0.85);
  color: #222225;
}
.bg-darkest-85 {
  background-color: rgba(34, 34, 37, 0.85);
  color: #ffffff;
}
.bg-white-85 {
  background-color: rgba(255, 255, 255, 0.85);
  color: #222225;
}
.bg-black-85 {
  background-color: rgba(0, 0, 0, 0.85);
  color: #EDEDF1;
}
/*   ---   GRADIENT / COMPLEX SPECIFCS COLORS   ---   */
body {
  font-size: 21px;
  line-height: 2.5;
  font-family: 'SAOUI-Regular', 'PT Sans Narrow', sans-serif;
  font-weight: 100;
}
div {
  line-height: 2;
}
label {
  display: inline-block;
  margin: 0 0 -11px 0;
  color: #222225;
}
h1 {
  font-family: 'Teko', monospace;
  font-size: 42px;
  font-weight: 300;
}
h4 {
  font-weight: 300;
  margin-bottom: -11px;
}
/*# sourceMappingURL=type.css.map */
input,
textarea,
keygen,
select,
button,
.btn {
  font: inherit;
  outline: none;
}
button,
.btn,
input[type=text] {
  display: inline-block;
  padding: 4px 8px;
  font-size: 18.2px;
  line-height: inherit;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #E3E4E6;
  background-image: none;
  border: 1px solid transparent;
  min-width: 155px;
}
input[type=button] {
  text-transform: none;
}
input:focus,
textarea:focus,
keygen:focus,
select:focus,
button:focus,
input:active,
textarea:active,
keygen:active,
select:active,
button:active {
  outline: none;
  background-color: #FAAF0F;
  box-shadow: inset 0 0 10px 0px rgba(0, 0, 0, 0.1);
}
input[type=text] {
  padding: 4px 7px;
  text-align: left;
}
.teste {
  background-color: rgba(0, 0, 0, 0.65);
}
body {
  font-size: 21px;
  line-height: 2.5;
  font-family: 'SAOUI-Regular', 'PT Sans Narrow', sans-serif;
  font-weight: 100;
}
div {
  line-height: 2;
}
label {
  display: inline-block;
  margin: 0 0 -11px 0;
  color: #222225;
}
h1 {
  font-family: 'Teko', monospace;
  font-size: 42px;
  margin-bottom: -7px;
  font-weight: 300;
}
h2 {
  font-family: 'SAOUI-Regular', 'PT Sans Narrow', sans-serif;
  font-size: 28px;
  margin-bottom: -7px;
  font-weight: 300;
}
h3 {
  font-family: 'Teko', monospace;
  font-size: 28px;
  font-weight: 300;
  margin-bottom: -7px;
}
h4 {
  font-family: 'SAOUI-Regular', 'PT Sans Narrow', sans-serif;
  font-size: 17.5px;
  margin-bottom: -7px;
  font-weight: 300;
}
h5 {
  font-family: 'Teko', monospace;
  font-size: 140px;
  font-weight: 300;
}
span {
  opacity: 0.75;
}
em {
  opacity: 0.75;
  font-weight: 100;
}
p {
  padding: 4px;
}
.container {
  min-width: 960px;
  max-width: 960px;
  margin: 0 auto;
  padding: 15px;
}
.row {
  width: inherit;
  display: block;
  min-height: 1px;
  overflow: hidden;
  margin: 0 -14px;
  padding: 4px 14px;
}
.group {
  display: block;
  width: 100%;
}
.btn {
  padding: 4px;
  font-size: 18.2px;
  border: 1px solid transparent;
  border-radius: none;
}
.border {
  border: 1px solid #60606A;
}
.pull-right {
  float: right;
  text-align: right;
}
.message {
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.35), 2px 2px 21px rgba(0, 0, 0, 0.35);
  margin: 14px 0;
}
.message-header {
  padding: 14px 7px;
  background-color: rgba(255, 255, 255, 0.85);
}
.message-content {
  display: block;
  padding: 28px 7px;
  background-image: url('data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20%3F%3E%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%20width%3D%22100%25%22%20height%3D%22100%25%22%20viewBox%3D%220%200%201%201%22%20preserveAspectRatio%3D%22none%22%3E%3ClinearGradient%20id%3D%22gradient%22%20gradientUnits%3D%22userSpaceOnUse%22%20x1%3D%220%25%22%20y1%3D%220%25%22%20x2%3D%220%25%22%20y2%3D%22100%25%22%3E%3Cstop%20offset%3D%220%25%22%20stop-color%3D%22%2360606a%22%20stop-opacity%3D%220.65%22%2F%3E%3Cstop%20offset%3D%2235%25%22%20stop-color%3D%22%23cccccc%22%20stop-opacity%3D%220.65%22%2F%3E%3Cstop%20offset%3D%2250%25%22%20stop-color%3D%22%23ffffff%22%20stop-opacity%3D%220.65%22%2F%3E%3Cstop%20offset%3D%2265%25%22%20stop-color%3D%22%23cccccc%22%20stop-opacity%3D%220.65%22%2F%3E%3Cstop%20offset%3D%22100%25%22%20stop-color%3D%22%2360606a%22%20stop-opacity%3D%220.65%22%2F%3E%3C%2FlinearGradient%3E%3Crect%20x%3D%220%22%20y%3D%220%22%20width%3D%221%22%20height%3D%221%22%20fill%3D%22url(%23gradient)%22%20%2F%3E%3C%2Fsvg%3E');
}
.message-footer {
  padding: 14px 7px;
  background-color: rgba(255, 255, 255, 0.85);
}
.message-content p {
  font-size: 35px;
}
.message h2,
.message p,
.message span {
  display: block;
  text-align: center;
  padding: 4px 7px;
  font-weight: 300;
}
.icon i {
  font-size: 64px;
}
.menu-content .menu-wrapper {
  display: none;
}
.menu-content.collapsed .menu-wrapper {
  display: block;
}
.menu-wrapper {
  position: relative;
  width: 100%;
  height: 182px;
}
.menu-wrapper .nav {
  position: absolute;
  left: 310px;
}
.menu-wrapper.lv1-open .nav.slide-out {
  left: 155px;
}
.menu-wrapper.lv2-open .nav.slide-out {
  left: 0px;
}
.menu-wrapper.lv2-open .nav.slide-out .nav.slide-out {
  left: 30px;
}
.menu-content .icon {
  display: block;
  width: 100%;
  text-align: center;
  z-index: 100;
}
.menu-content.collapsed .icon {
  display: block;
  position: relative;
  top: 115px;
  left: 176px;
  width: 155px;
  z-index: 100;
}
.menu-content.collapsed.lv1 .icon {
  display: block;
  position: relative;
  top: 115px;
  left: 0px;
  z-index: 100;
}
.menu-content.collapsed.lv2 .icon {
  display: none;
}
.menu-wrapper .lv1 .nav {
  left: 30px;
}
.nav {
  width: 310px;
  height: 182px;
}
.nav li {
  background-color: #E3E4E6;
  height: 58px;
  margin: 0 0 4px 0;
  padding: 2px 14px;
  list-style: none;
}
.nav li:last-child {
  margin: 0 0 0 0;
}
.dropdown .nav {
  display: none;
  height: auto;
}
.dropdown button.js-back {
  width: 30px;
  height: 182px;
  margin: 0 0 0 0;
}
.sub-menu.lv1 {
  position: absolute;
  height: 182px;
  margin: 0 0 0 0;
  width: 310px;
  left: 310px;
  top: 0;
}
.sub-menu.lv2 {
  position: absolute;
  height: 182px;
  margin: 0 0 0 0;
  width: 310px;
  left: 280px;
  top: 0;
}
.dropdown .sub-menu {
  display: none;
}
.dropdown.is-open .dropdown .sub-menu {
  display: none;
}
.dropdown.is-open .sub-menu {
  display: block;
}
.dropdown.is-open .nav {
  position: absolute;
  display: inline-block;
  height: 182px;
  margin: 0 0 0 0;
  width: 280px;
}
.dropdown.is-open .nav.slide-out {
  width: 590px;
}
.dropdown.is-open .dropdown.is-open .sub-menu {
  position: absolute;
  display: inline-block;
  height: 182px;
  margin: 0 0 0 0;
  width: 280px;
}
.dropdown.is-open li.menu-return {
  background-color: white;
  display: inline-block;
  width: 30px;
  height: 182px;
  position: absolute;
  left: 0px;
  top: 0px;
  margin-left: 0;
}
.dropdown.is-open .dropdown.is-open li.menu-return {
  background-color: orange;
  display: inline-block;
  width: 30px;
  height: 182px;
  position: absolute;
  left: 620px;
  top: 0px;
  margin-left: 0;
}
.disabled {
  pointer-events: none;
  opacity: 0.4;
}
div.icon svg {
  fill: #60606a;
  width: 64px;
}
div.btn-confirm svg {
  fill: #427FB4;
}
div.btn-cancel svg {
  fill: #FD3366;
}
.text-center {
  text-align: center;
  background-color: #E3E4E6;
}
/*# sourceMappingURL=sao.css.map */