@font-face { font-family: 'SAOUI-Regular'; src: url("fonts/SAOUI-Regular.otf") format("OpenType"); }

@font-size: 14px;
@line-height: 2;
@font1: 'SAOUI-Regular','PT Sans Narrow', sans-serif;
@font-code: 'Teko', monospace;
@zero: 0;

@import 'less/normalize';
@import 'less/grid';
@import 'less/colors';
@import 'less/type';
@import 'less/mixins';
@import 'less/inputs';
@import 'less/menu';

.teste{ // 
	.bg-to-rgba(@black, 0.65);
}

body{
	font-size: @font-size * 1.5;
	line-height: @line-height *1.25;
	font-family: @font1;
	font-weight: 100;
}
div{
	line-height:@line-height;
}
label{
	display: inline-block;
    margin: 0 0 -11px 0;
    color: @darkest;
}
h1{
	font-family: @font-code;
	font-size: @font-size * 3;
	font-weight: 300;
}

h4{
	font-weight: 300;
    margin-bottom: -@mg;
}
p { 
  padding: @pd 
}
.container{
	min-width:960px; 
	max-width: 960px; 
	margin:0 auto;
	padding: 15px;
}

.row{ 
	width: inherit; 
	display: block; 
	min-height:1px;
	overflow:hidden;
	margin: 0 -@mg*2;
	padding: @pd @mg*2;
}
.group{
	display:block;
	width:100%;
}

.btn {
	padding: @pd;
	font-size: 18.2px;
	border: 1px solid transparent;
  	border-radius: none;
}

.border{
	border: 1px solid @gray;
}

.pull-right{ float:right; text-align: right;}

.message{
	box-shadow: @pd/4 @pd/4 @pd rgba(0,0,0,0.35), @pd/2 @pd/2 @mg*3 rgba(0,0,0,0.35);
    margin: @mg*2 0;
}

.message-header{
	padding: @mg*2 @mg;
	.bg-to-rgba(@white,0.85);
}
.message-content {
	display: block;
	padding: @mg*4 @mg;
	background-image: svg-gradient(to bottom, @gradient-gray-list);
}
.message-footer{
	padding: @mg*2 @mg;
	.bg-to-rgba(@white,0.85);
}

.message-content p{
	font-size: @font-size*2.5;
}

.message h2, .message p, .message span{	
	display: block;
	text-align: center;
	padding: @pd @mg;
	font-weight: 300;
}


//+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

.menu-content .menu-wrapper{
	display:none;
}

.menu-content.collapsed .menu-wrapper{
	display: block
}
.menu-wrapper{
  position:relative;
  width: 100%;
  height: 182px;
}

.menu-wrapper .nav{
    position: absolute;
    left: 310px;
}
.menu-wrapper.lv1-open .nav.slide-out{
    left: 155px;   
}

.menu-wrapper.lv2-open .nav.slide-out{
    left: 0px;   
}

.menu-wrapper.lv2-open .nav.slide-out .nav.slide-out{
    left: 30px;   
}

.menu-content.collapsed .icon{
	display:block;
	position: relative;
    top: 115px;
    left: 176px;
    z-index: 100;
}
.menu-content.collapsed.lv1 .icon{
	display:block;
	position: relative;
    top: 115px;
    left: 0px;
    z-index: 100;
}
.menu-content.collapsed.lv2 .icon{
	display:none;
}

.menu-wrapper .lv1 .nav {
    left: 30px;
}

.nav{
  width: 310px;
  height: 182px;
}
.nav li{
	background-color: @light-gray;
  	height: 58px;
  	margin:0 0 @pd 0;
  	padding: @pd/2 @mg*2;
  	list-style: none;
}
.nav li:last-child{
  	margin:0 0 0 0;
}

.dropdown .nav{
	display:none;
    height: auto;
}

.dropdown .nav li{
}

.dropdown button.js-back{
       width: 30px;
    height: 182px;
    margin: 0 0 0 0;
}

.sub-menu.lv1{
	position: absolute;
    height: 182px;
    margin: 0 0 0 0;
    width: 310px;
    left: 310px;
    top: 0;
}

.sub-menu.lv2{
	position: absolute;
    height: 182px;
    margin: 0 0 0 0;
    width: 310px;
    left: 280px;
    top: 0;
}

.dropdown .sub-menu {
    display: none;
}

.dropdown.is-open .dropdown .sub-menu {
    display: none;
}

.dropdown.is-open .sub-menu {
    display: block;
}

.dropdown.is-open .nav{
	position: absolute;
    display: inline-block;
    height: 182px;
    margin: 0 0 0 0;
    width: 280px;

}
.dropdown.is-open .nav.slide-out{
    width: 590px;
}

.dropdown.is-open .dropdown.is-open .sub-menu {
   position: absolute;
	display: inline-block; 
    height: 182px;
    margin: 0 0 0 0;
    width: 280px;
}


.dropdown.is-open li.menu-return {
	background-color: white;
    display: inline-block;
    width: 30px;
    height: 182px;
    position: absolute;
    left: 0px;
    top: 0px;
    margin-left: 0;
}

.dropdown.is-open .dropdown.is-open li.menu-return {
    background-color: orange;
    display: inline-block;
    width: 30px;
    height: 182px;
    position: absolute;
    left: 620px;
    top: 0px;
    margin-left: 0;
}

.disabled{
    pointer-events:none;
    opacity:0.4;
}




