@font-face {
  font-family: 'SAOUI-Regular';
  src: url("fonts/SAOUI-Regular.otf") format("OpenType");
}
.primary {
  color: #AABBFF;
}
.confirm {
  color: #427FB4;
}
.cancel {
  color: #FD3366;
}
.alert {
  color: #992233;
}
.selected {
  color: #FAAF0F;
}
.light-gray {
  color: #E3E4E6;
}
.gray {
  color: #60606A;
}
.dark-gray {
  color: #3A3C45;
}
.off-light {
  color: #EDEDF1;
}
.darkest {
  color: #222225;
}
.white {
  color: #ffffff;
}
.black {
  color: #000000;
}
.bg-primary {
  background-color: #AABBFF;
}
.bg-confirm {
  background-color: #427FB4;
}
.bg-cancel {
  background-color: #FD3366;
}
.bg-alert {
  background-color: #992233;
}
.bg-selected {
  background-color: #FAAF0F;
}
.bg-light-gray {
  background-color: #E3E4E6;
}
.bg-gray {
  background-color: #60606A;
}
.bg-dark-gray {
  background-color: #3A3C45;
}
.bg-off-light {
  background-color: #EDEDF1;
}
.bg-darkest {
  background-color: #222225;
}
.bg-white {
  background-color: #ffffff;
}
.bg-black {
  background-color: #000000;
}
input,
textarea,
keygen,
select,
button,
.btn {
  font: inherit;
  outline: none;
}
button,
.btn,
input[type=text] {
  display: inline-block;
  padding: 7px 14px;
  font-size: 18.2px;
  line-height: inherit;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #E3E4E6;
  background-image: none;
  border: 1px solid transparent;
}
input[type=button] {
  text-transform: none;
}
input:focus,
textarea:focus,
keygen:focus,
select:focus,
button:focus,
input:active,
textarea:active,
keygen:active,
select:active,
button:active {
  outline: none;
  background-color: #FAAF0F;
  box-shadow: inset 0 0 10px 0px rgba(0, 0, 0, 0.1);
}
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  position: relative;
  font-size: 21px;
  line-height: 2.5;
  font-family: 'SAOUI-Regular', 'PT Sans Narrow', sans-serif;
  outline: none;
}
div {
  display: block;
}
p {
  padding: 7px;
}
h1 {
  font-family: 'Teko', monospace;
  font-size: 42px;
}
.container {
  min-width: 960px;
  max-width: 960px;
  margin: 0 auto;
  padding: 15px;
}
.row {
  width: inherit;
  display: block;
  min-height: 1px;
  overflow: hidden;
  margin: 0 -15px;
  padding: 7px 15px;
}
.group {
  display: block;
  width: 100%;
}
.border {
  border: 1px solid #60606A;
}
.col {
  position: relative;
  float: left;
  display: block;
  min-height: 1px;
  padding-right: 7px;
  padding-left: 7px;
}
.col-1 {
  width: 16.66666667%;
  position: relative;
  float: left;
  display: block;
  min-height: 1px;
  padding-right: 7px;
  padding-left: 7px;
}
.col-2 {
  width: 33.33333333%;
  position: relative;
  float: left;
  display: block;
  min-height: 1px;
  padding-right: 7px;
  padding-left: 7px;
}
.col-3 {
  width: 50%;
  position: relative;
  float: left;
  display: block;
  min-height: 1px;
  padding-right: 7px;
  padding-left: 7px;
}
.col-4 {
  width: 66.66666667%;
  position: relative;
  float: left;
  display: block;
  min-height: 1px;
  padding-right: 7px;
  padding-left: 7px;
}
.col-5 {
  width: 83.33333333%;
  position: relative;
  float: left;
  display: block;
  min-height: 1px;
  padding-right: 7px;
  padding-left: 7px;
}
.col-6 {
  width: 100%;
  position: relative;
  float: left;
  display: block;
  min-height: 1px;
  padding-right: 7px;
  padding-left: 7px;
}
.col-1:last-child {
  width: 16.66666667%;
}
.pull-right {
  float: right;
  text-align: right;
}
.message {
  max-width: 100%;
  background: -moz-linear-gradient(top, #cccccc 0%, #E3E4E6 25%, #ffffff 50%, #E3E4E6 80%, #cccccc 100%);
  background: -webkit-linear-gradient(top, #cccccc 0%, #E3E4E6 25%, #ffffff 50%, #E3E4E6 80%, #cccccc 100%);
  background: linear-gradient(to bottom, #cccccc 0%, #E3E4E6 25%, #ffffff 50%, #E3E4E6 80%, #cccccc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@light-gray', endColorstr='@light-gray', GradientType=0);
}
.message span {
  display: block;
  font-size: 54px;
  text-align: center;
}
.menu-group {
  position: relative;
  width: 100%;
}
ul {
  position: relative;
  width: 33.33333333%;
}
.sub-menu {
  position: absolute;
  width: 300%;
  left: 100%;
  top: 0;
  display: none;
}
ul li {
  display: block;
  list-style: none;
  background-color: aquamarine;
  position: relative;
  margin: 0 0 7px 0;
  padding: 7px;
}
li:hover + .sub-menu {
  display: block;
}
.sub-menu:hover {
  display: block;
}
.active + .sub-menu {
  display: block;
}
/*# sourceMappingURL=sao.css.map */